body {
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 800px;
}

h4{
  font-size: 18px
}

header{
  color:#5fc1a6;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  padding-top: 12rem;
  padding-bottom: 4rem;
}


header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}


header.masthead .valueprop {
  background-color:rgba(0,0,0,.2);
  max-width: 45rem;
  border-radius: 25px;
}

@media (min-width: 300px) {
  header.masthead {

    padding-top: 8rem;
    padding-bottom: 5rem;
    background: url("../img/blue_phone.png") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  header.masthead .top-buffer { 
  margin-top: 3rem;
}

@media (min-width: 800px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom:4rem;
    background: url("../img/blue_scene.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  header.masthead .top-buffer { 
  margin-top: 8rem;
  }
  .product {
    padding-top: 5rem;
    padding-bottom: 35rem;
    background: url("../img/product-mockup.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }

.features-icons {
  background-color:#e6e6e6;
  padding-top: 3rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-group {
  background-color:#FFFFFF;
  max-width: 40rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.titanic {
  width: 100px;
  height: 100px;
  display: inline-block;


  /*Decoration for the presentation only, remove it when using on your own*/
  padding: 20px;
}
.titanic path {
  fill: #249795;
  stroke: #249795;
}