body {
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 800px;
}

h4{
  font-size: 18px
}

header{
  color:#black;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  padding-top: 12rem;
  padding-bottom: 4rem;
}


header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}


header.masthead .valueprop {
  background-color:rgba(0,0,0,.2);
  max-width: 45rem;
  border-radius: 25px;
}

@media (min-width: 300px) {
  header.masthead {

    padding-top: 12rem;
    padding-bottom: 2rem;
    background: url("../img/tips-phone.png") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  header.masthead .top-buffer { 
  margin-top: 3rem;
  }
  .features-icons {
    background-color:#e6e6e6;
    padding-top: 3rem;
    padding-bottom: 7rem;
  }
  .features-icons .features-icons-group {
    background-color:#FFFFFF;
    max-width: 40rem;
  }

  .features-icons .features-icons-item {
    max-width: 20rem;
  }

  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }

  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }

  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  .product {
  padding-top: 5rem;
  padding-bottom: 20rem;
  background: url("../img/mockup.png") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .call-to-action {
  position: relative;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  }
  .pricing{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pricingTable{
    padding: 25px 0;
    border: 1px solid #fe5f55;
    text-align: center;

}
.pricingTable .price-value{
    font-size: 60px;
    font-weight: 800;
    color: #0d3b66;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.pricingTable .month{
    display: block;
    font-size: 17px;
    font-weight: normal;
    color: #0d3b66;
    letter-spacing: 2px;
    line-height: 10px;
    text-transform: uppercase;
}
.pricingTable .title{
    display: inline-block;
    padding: 15px 40px;
    margin: 0 0 20px 0;
    background: #eee;
    font-size: 20px;
    color: #fe5f55;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .title{
    background: #f4c724;
    color: #fff;
}
.pricingTable .title:before,
.pricingTable .title:after{
    content: "";
    border-right: 26px solid #eee;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    top: 0;
    left: -26px;
    transition: all 0.3s ease 0s;
}
.pricingTable .title:after{
    border-right: none;
    border-left: 26px solid #eee;
    left: auto;
    right: -26px;
}
.pricingTable:hover .title:before{ border-right-color: #f4c724; }
.pricingTable:hover .title:after{ border-left-color: #f4c724; }
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
}
.pricingTable .pricing-content li{
    font-size: 17px;
    color: #0d3b66;
    line-height: 40px;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 7px 30px;
    background: #eee;
    font-size: 17px;
    font-weight: 700;
    color: #fe5f55;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-signup{
    background: #f4c724;
    color: #fff;
}
.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.pricingTable .pricingTable-signup:hover:before{
    background: rgba(255, 255, 255, 0.7);
    left: 60%;
    right: 60%;
    z-index: 1;
}
.pricingTable .pricingTable-signup:hover:after{
    background: rgba(255, 255, 255, 0.7);
    top: 60%;
    bottom: 60%;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}

}
@media (min-width: 800px) {
  header.masthead {
    padding-top: 14rem;
    padding-bottom:4rem;
    background: url("../img/doctor.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  header.masthead .top-buffer { 
  margin-top: 4rem;
  }
  .product {
    padding-top: 5rem;
    padding-bottom: 35rem;
    background: url("../img/mockup.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }

.features-icons {
  background-color:#e6e6e6;
  padding-top: 3rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-group {
  background-color:#FFFFFF;
  max-width: 40rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.titanic {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 20px;
}
.titanic path {
  fill: #249795;
  stroke: #249795;
}
